
{% extends "base.html.twig" %}

{% block body %}
    <h1>Search for packages</h1>

    {% include 'h4ccHHVMProgressBundle:includes:search_form.html.twig' %}

    {% if pagination.count %}

        <h2>Result:</h2>

        {% include 'h4ccHHVMProgressBundle:includes:package_version_table.html.twig' with {'packages': pagination} %}

    {% endif %}

{% endblock %}