<div class="row marketing">
    <div class="btn-group-justified">
        <a class="btn btn-default" href="{{ path('h4cc_hhvm_progress_packages_supporting') }}">Show supporting</a>
        <a class="btn btn-default" href="{{ path('h4cc_hhvm_progress_packages_allowed_failure') }}">Show allowed failures</a>
    </div>
</div>