<div class="row marketing">
    <div>
        <a class="btn btn-success" class="pull-right" href="{{ path('h4cc_hhvm_progress_packages_supporting') }}">Show supporting</a>
        &nbsp;&nbsp;&nbsp;
        <a class="btn btn-warning" href="{{ path('h4cc_hhvm_progress_packages_allowed_failure') }}">Show allowed failures</a>
    </div>
</div>