<div class="row marketing">
    <div>
        <a class="btn btn-success "pull-right" href="{{ path('h4cc_hhvm_progress_packages_supporting') }}">Show tested</a>
        &nbsp;&nbsp;&nbsp;
        <a class="btn btn-warning" href="{{ path('h4cc_hhvm_progress_packages_allowed_failure') }}">Show partially tested</a>
    </div>
</div>