<p>Search for packages with a part of their names.</p>

<p>

<form action="{{ path('h4cc_hhvm_progress_search') }}" method="get">
    <input name="pattern" required>
    &nbsp;&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary">Search</button>
</form>

</p>