
{% extends "base.html.twig" %}

{% block body %}
    <h1>Upload composer.lock</h1>

    <p>Upload your composer.lock file, to see which of your dependencies support HHVM.</p>

    <p>

        <form action="{{ path('h4cc_hhvm_progress_composer_form') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="composer_lock">
            <br/>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>

    </p>

{% endblock %}