
{% extends "base.html.twig" %}

{% block body %}

    {{ include('h4ccHHVMProgressBundle:includes:menu_hhvm_support.html.twig') }}

    <h1>Packages working to support HHVM</h1>

    {% include 'h4ccHHVMProgressBundle:includes:package_version_table.html.twig' with {'packages': pagination} %}

{% endblock %}